.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  position: relative;
}

.contact::after {
  content: '';
  background: url('/public/img/home.jpg') no-repeat center;
  background-size: cover;
  filter: blur(50px);

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.contact-container {
  /* display: flex; */
  max-width: 850px;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.362) 0px 0px 19px 5px;
}

.contact-form {
  background: linear-gradient(135deg, #7f279c 0%, #2e279d 100%);
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.499);
  background-color: transparent;
  color: white;

}

.message-submit {
  margin-top: 1.5rem;
}

.contact-info {
  color: black;
  height: 100%;
  /* background-color: tomato; */
  border-radius: 0px 5px 5px 0px;
}

.contact-info .contact-me {
  /* display: none !important; */
  /* margin: 60rem !important; */
  margin-top: 3rem;
}

.label-form,
.label-contact {
  line-height: 1.5;
  font-weight: 4000;
  font-family: "Poppins", Arial, sans-serif;
}

.icons {
  /* background-color: tomato; */
  padding: 0.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 880px) {
  .contact-container {
    grid-template-columns: 0.9fr;
    height: 100% !important;
    /* margin-top: 2rem; */
    padding-top: 2rem;
  }

  .contact-info .contact-me {
    /* display: none !important; */
    /* margin: 60rem !important; */
    margin-top: 1rem;
  }

  .contact-info {
    height: 100%;
  }

  .message-submit {
    margin: 2%;
  }

  .icons {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 5px;
  }

  .contact-me {
    margin-bottom: 10px;
  }
}